[2020-03-17 18:21] DonPavlov opened #1 "Add documentation on how to use ddcutil without sudo"
Hi. I installed it on Ubuntu 19.10 but get an error on the extensions webpage.
The commands work great in cli while using sudo. Maybe also add into your description the requisits. Which package to install. Adding your user to i2c group.

Also love the extension, was already thinking about doing it myself, but stopped after not having enough time.

Great work.

[2020-03-17 21:01] themightydeity commented on #1
Thanks for the suggestion.

Basically the extension expects that ddcutil to work without root before  you install it, i.e. ddcutil needs rw access to /dev/i2c-* which can be done in multiple ways in different distros.

I will update readme later on when I have time, I am trying to make some quality of life changes to the extension as well.

I did this addon just quickly for personal use, since the

[2020-03-21 22:27] Roosted7 opened #2 "Extension conflict"
Hi! Thanks for making this extension, it seems very handy - unfortunately I can't get it to work under GNOME 3.36 (Arch Linux)

The extension fails to install / load with the following error:
[code]

The brightness icon does appear, but there is no interaction possible. The icon only goes away after a shell restart. GNOME also reports an 'error with the extension'

Is it clear from the above error

[2020-03-22 20:30] flukejones opened #3 "Use of async command causes many calls if dragging slider"
Great extension, it's something I was looking at writing myself.

I noticed that if I drag the slider it causes many calls to ddcutil, which in turn can cause something a bit like seemingly random up/down of brightness while dragging. I looked briefly at how gnome-shell handles it for default displays (like laptops) it uses what could be best described as a notifier system.

Something like:
1. sli

[2020-03-25 04:30] themightydeity commented on #2
I changed the name BrightnessSlider to DDCUtilBrightnessSlider in  #4 . I hope that will fix the probelm for you.
I guess you got the error because you are using some other extensions which is using that name.

[2020-03-25 04:34] themightydeity commented on #3
I added some timer to work around it, which has bind with delay type of efffect #4 .

Storing and reading from dconf might be good idea. I will look into it, if it is possible without writing a wrapper for ddcutil and this extension itself can register the callback.

[2020-03-25 13:26] Roosted7 commented on #2
Awesome! That indeed fixes it :tada:

It wouldn't expect another extension to use that name.. I'm using the following other extensions:
 - Caffeine
 - Dash to Dock
 - Launch new instance
 - No screen blank
 - No topleft hot corner
 - Quick close in overview

[2020-03-25 13:26] #2 closed

[2020-04-30 20:28] nobuto-m opened #5 "Exclude invalid displays"
This is really a great tool. Would be nice to exclude some invalid displays including a laptop display which cannot be controlled over DDC/CI.

![two_including_invalid_display](https://user-images.githubusercontent.com/4356209/80755766-5e1e6300-8b6c-11ea-83c4-c364cd80576c.png)

Here is the output of `ddcutil`.

[code]

[code]

[code]

[2020-05-17 00:49] #5 closed

[2020-06-15 14:33] nathanmiddleton opened #7 "Add support for software-only brightness control"
I have a mix of monitors that support ddci and some that support nothing. It would be nice to have a single place to support brightness on all monitors.

Maybe there could be an option to support ddci failed monitors with xrandr software brightness?

[2020-06-16 23:27] themightydeity commented on #7
I do not think I would be adding that feature at the moment but if I get more requests and someone is willing contribute to this project, I am happy to review some pull requests.
This project's whole basis is ddcutil as it is in the name.

[2020-06-20 10:42] mustdobetter opened #8 "Not working with devices that do work with ddcutil"
I am able to control my two monitors via ddcutil (without sudo), however when running this extension it shows the error:

This is the output of `ddcutil detect`:

[code]

As I say, I'm able to control the brightness on the command line e.g:

`ddcutil --display 2 setvcp 10 100`

[2020-06-20 20:58] themightydeity commented on #8
@mustdobetter

This is roughly what the extension checks to detect displays, could you try to run this once and let me know what happens?
[code]

[2020-06-27 15:12] hmmSalat opened #9 "Extension only shows "Initializing""
Hey,

first oft all: this is a great extension!

But it no longer works for me since the latest update. I always get this message:
![ddcutil-initializing](https://user-images.githubusercontent.com/48926955/85925364-4297b600-b898-11ea-98b3-3b72c39dfa0d.png)

Is this a problem with the extension? Or ist it my dducitl installation? I noticed, that my ddcutil installation seems to have some issues, to

[2020-06-28 09:04] hmmSalat commented on #9
Changed permissions for /dev/usb/hiddev2. Error message is gone. Extension works now.

[2020-06-30 09:57] 1player commented on #9
Same here, I managed to fix it by running `ddcutil --brief detect > ~/.cache/ddcutil_detect` and restarting the extension.

[2020-06-30 10:12] themightydeity commented on #9
@1player That is a the workaround I have added, I suppose you checked Issue section in the readme file. Remeber to recreate that file if you change monitor configuration,  like added new monitors or changed connection ports in GPU or motherboard etc.

[2020-06-30 10:13] themightydeity commented on #9
@hmmSalat I am closing this issue, it seems like the issue for you was that when the error message was shown it broke the extension's output parser.

[2020-06-30 10:14] #7 closed

[2020-06-30 10:14] themightydeity commented on #3
The workaround seems to be good enough, so I am closing this issue.

[2020-06-30 10:14] #3 closed

[2020-06-30 10:18] 1player commented on #9
It still is a bug with the cached file, because I often move between one and two monitors, and the cached file requires me to restart the extension manually every time I attach or detach the monitor.

The parser should just ignore the error altogether, considering it's printed on stderr, and the important stuff it's interested in is coming from stdout.

[2020-06-30 10:56] themightydeity commented on #9
@1player parser is not using stderr at all, were you also getting similar permission errors like this?
[code]

As for hotloading monitor a relaod button or something else is in pipeline, I will add that when I have a bit of free time.

[2020-06-30 10:59] themightydeity commented on #9
In the meantime if both @1player  and @hmmSalat could send me output of following command
[code]

This is roughly what this extension does to detect monitor.

[2020-06-30 11:44] #9 closed

[2020-06-30 17:08] hmmSalat commented on #9
@themightydeity
[code]

[2020-07-01 11:08] P1zz4br0etch3n opened #11 "Do not display devices whose brightness can't be changed by ddcutils"
The extension shows two screens in my case: my external monitor (which is correct) and a device without name (probably my laptop screen). If I change the value of the device without name, nothing happens, so in my opinion it shouldn't be displayed at all.

[2020-07-01 11:31] P1zz4br0etch3n opened #12 "Change brightness of all screens simultaneously"
Would be nice if one could change all screens brightness with scrolling on the indicator icon.

[2020-07-01 16:17] esercankutay opened #13 "Monitor name got mixed up with version 6"
with version 6 on gnome 3.36 with ubuntu 20.04 monitor names got mixed up. To be specific when i change the brightness level of first monitor second monitor changes. other monitors' brightness level bar is'nt functional. i reverted it back to version 4 and all is fine.

[2020-07-06 11:08] hmmSalat commented on #9
Fixed in version 7. Thank you! :-) :+1:

[2020-07-06 12:05] mustdobetter commented on #8
@themightydeity

Apologies for the belated reply. Here is the output you requested from the above command:

[code]

[2020-07-06 12:11] themightydeity commented on #13
Could you try version 7 and report back if it works for you?

[2020-07-06 12:15] themightydeity commented on #8
@mustdobetter  could you update to latest version (7) of the extesion, let me know if it fixes the issue for you.

[2020-07-06 12:17] themightydeity commented on #11
@P1zz4br0etch3n  could you post output of

[code]

and

[code]
I will check what is happening to you.

[2020-07-06 12:21] mustdobetter commented on #8
Where can I do that? There don't seem to be any releases in this Github project, and on the Gnome extension page (https://extensions.gnome.org/extension/2645/brightness-control-using-ddcutil/) all I seem to be able to do is install/uninstall. The only versions mentioned are the Shell Version (3.34, 3.36). Thanks.

[2020-07-06 12:21] mustdobetter commented on #8
I've just twigged - I select the shell version first. Sorry - will feed back shortly.

[2020-07-06 12:36] mustdobetter commented on #8
@themightydeity after upgrading to version 7 manually I just get the "Initializing" message and nothing more.

[2020-07-06 19:12] esercankutay commented on #13
thanks for the response. i'm on version 7 right now and problem seems to be solved for hdmi+vga setup.

[2020-07-06 19:12] #13 closed

[2020-07-18 13:30] P1zz4br0etch3n commented on #11
Thanks for the response. There's nothing "happening to me". `ddcutil` just can't control integrated laptop screens as it's said [here](https://www.ddcutil.com/#introduction) under "Restrictions". So I think your extension shouldn't display those. `ddcutil detect` prints "Invalid display" instead of e.g. "Display 1". You could just filter those displays out.

[2020-09-18 08:50] themightydeity commented on #8
@mustdobetter which gnome version are you using? This extension is working properly in 3.36.

[2020-09-28 03:12] pelletier commented on #8
I'm hitting a similar issue here.

From my shell:

[code]

But this extension only show "Initializing" when I click on it.

Adding some logs in the code ([here](https://github.com/themightydeity/gnome-display-brightness-ddcutil/blob/master/display-brightness-ddcutil%40themightydeity.github.com/extension.js#L246)), it seems like when it calls `/usr/bin/ddcutil detect --brief`, the callback receives

[2020-10-11 11:26] #8 closed

[2020-10-11 11:38] themightydeity commented on #11
Unless you send me the output of `ddcutil detect` and `ddcutil getvcp --brief 10 --bus $YOUR_MONITORS_I2C_BUS`  I wont be able to know what is that I need to hide.

[2021-01-03 22:02] evansan commented on #1
# Brightness Control
1. install `ddcutil`
2. Manually load kernel module `i2c-dev`
[code]
3. Verify that your monitor supports brightness control
[code]
4. udev rule for giving group i2c RW permission on the `/dev/i2c` devices
[code]
5. Create i2c group and add yourself
[code]
6. load `i2c-dev` automatically
[code]

[2021-01-15 09:20] Benimautner commented on #12
If you are still interested, I added an extra slider for all displays in Pull request #15
Not sure about the scroll wheel though.

[2021-01-18 15:19] daitj commented on #12
If you want to use the feature already now, I have created a new [branch](https://github.com/daitj/gnome-display-brightness-ddcutil/tree/combined-slider) with the PR #15

But I would like to add settings in the extension so that people can choose how they want it to be displayed. Also I suppose you should be able to lock the different levels for different monitors and use "All" slider accordingly.

[2021-02-10 23:16] daitj commented on #12
added in #15

[2021-02-10 23:16] #12 closed

[2021-02-10 23:19] daitj commented on #1
@evansan Thank you, I have added this to readme

[2021-02-10 23:19] #1 closed

[2021-02-10 23:20] daitj commented on #11
No response from the OP, closing it for now.

[2021-02-10 23:20] #11 closed

[2021-02-17 10:02] coot opened #16 "Upgrading to the new version failed"
The error recorded in `/var/log/messages`:
[code]

gnome-shell: `Version: 3.38.3-2`

[2021-02-17 10:23] daitj commented on #16
@coot Have you tried restarting your gnome shell `Alt+F2` > `r`
OR
If you are using Wayland then logout and login.

Lets see what happens.

Have you been installing the extension from gnome extension site? or from the source i.e. this repo?

[2021-02-25 08:54] coot commented on #16
Thanks, I was able to reinstall it now, probably `gnome-shell` restart was enough.

[2021-02-25 08:54] #16 closed

[2021-03-15 03:03] karuboniru opened #17 "Not compatible with Gnome 40."
Upon upgrading to Gnome 40.beta.0, the extension stopped working.

Some [migration work](https://blogs.gnome.org/shell-dev/2021/03/12/gnome-40-your-extension/) might be needed.

[2021-03-15 22:42] daitj commented on #17
Yeah, the extension will require some rework. I cannot give any ETA yet. But once it is avaiable in my distro, I will look into this.

[2021-04-13 12:25] Razer0123 opened #18 ""Initializing" after some time"
After some time it stops working and i have to restart Gnome to make it work again

Not sure which kind of info / files i could attach to help fix this

Any help would be appreciated, i love this extension

[2021-04-17 18:08] daitj commented on #17
@karuboniru
I have added just published a new version with some bug fixes and support for gnome40

[2021-04-17 18:10] #17 closed

[2021-04-17 18:12] daitj commented on #18
@Razer0123

I have added a reload button in the extension and also fixed some issues. Unfortunately it will only work in gnome40.

You could try it out and let me know what happens?

[2021-04-17 19:02] Razer0123 commented on #18
Yes but how should i update it?

I see no update on Gnome Extensions

[2021-04-17 19:19] daitj commented on #18
I have submitted a versio, it needs to be reviewed by gnome folks and
then it will be published.

You can also clone this repo and copy `display-brightness-
***@***.***` directory  to `~/.local/share/gnome-
shell/extensions/`
and then complie settings schemas like this:

[code]

Restart the gnome shell and then you should be getting the new version
running.

On Sat, 2021-04-17 at 12:02 -0700, Raze

[2021-04-17 19:20] daitj commented on #18
I have submitted a versio, it needs to be reviewed by gnome folks and
then it will be published.

You can also clone this repo and copy `display-brightness-ddcutil@themightydeity.github.com` directory  to `~/.local/share/gnome-
shell/extensions/`
and then complie settings schemas like this:

[code]
Restart the gnome shell and then you should be getting the new version
running.

[2021-04-17 23:39] Razer0123 commented on #18
Updated the extension, will check once the problem shows again to see if the reload work

Just an idea, could it be possible to add a setting to run the reload command once in X minutes? So i don't have to press the reload button manually

[2021-04-20 17:52] Razer0123 commented on #18
Ok i can report back with unfortunately bad news, it still shows initializing, but initializing only, there is no reload button (that is otherwise present)

[2021-04-20 19:27] daitj commented on #18
@Razer0123 which system are you using? It feels like very peculiar problem?

The extension will show "Initializing" only when whole extension is reloaded, which  happens  in two cases, when monitor(s) layout changes or when gnome-shell crashes.

Could it be that some other extension is crashing the gnome-shell?

Do you have multiple monitors and you change the layout frequently, meaning if you dis

[2021-04-20 20:35] Razer0123 commented on #18
Archlinux and Gnome 40

Here is the log
[log.txt](https://github.com/daitj/gnome-display-brightness-ddcutil/files/6346533/log.txt)

[2021-04-20 21:44] daitj commented on #18
Thanks, I can see one error which could have been causing the problem. I have update my repo and will update to gnome extensions soon if this is the issue. You could check the fix out by:

Opening `~/.local/share/gnome-shell/extensions/display-brightness-ddcutil@themightydeity.github.com/extension.js` and then replacing line no 21 from:
`const {GLib, Gio, St} = imports.gi;`
to
`const {GLib, Gio, S

[2021-04-20 22:36] Razer0123 commented on #18
Done, let's see if this fixes it, thanks

Will report back soon

[2021-04-21 11:05] Razer0123 commented on #18
Happened again :(

[2021-04-21 13:20] daitj commented on #18
I have a feeling that it is due to some other extension, I can see from the log that there are logs of panel changes happening.
Have you tried disabling everything else and just enabling this extension and checking it out.

If you just want a fix for your use case then, I would suggest to add an extra line `addSettingsItem();` in the same file above.
below `addTextItemToPanel("Initializing");` in

[2021-04-21 14:10] Razer0123 commented on #18
No i have not tried but i will

What does the suggested edit do?

[2021-04-21 14:19] daitj commented on #18
It would add settings and reload button.

On April 21, 2021 5:10:31 PM GMT+03:00, Razer ***@***.***> wrote:

[2021-04-21 14:41] Razer0123 commented on #18
Done, will report back

Can you point me exactly to which line do you think is causing the issues? with panel you are referring to the top bar i suppose

[2021-04-21 18:45] leocomitale commented on #18
I fixed a similar problem (stuck on "initializing") on Fedora by giving my user id permission to access the /dev/i2c* files necessary for ddcutil to detect and control my monitor.  The ddcutil documentation details the steps necessary [here](https://www.ddcutil.com/i2c_permissions/).  Once I did that this extension works fine.

[2021-04-22 09:33] daitj commented on #18
@Razer0123

"Initializing" should only be shown when extension is reloaded and before populating the displays(widgets) to the menu.

So basically in this extension:

When Panel (position) changes are detected, it reloads the list of displays(widgets, not the extensions).
You can check this by searching `Panel change detected, reloading widgets` in the logs. This is what I think is happening mostly

[2021-04-22 10:54] Razer0123 commented on #18
Yes i did the changes you mentioned

I've tried disabling a few extensions to see what happens, i might send another log in a few hours

But yes maybe removing panel changes could be a good idea, seems redundant

[2021-04-25 11:14] Razer0123 commented on #18
Happened again today, your latest change showed the reload and that fixed it, could you please push it on gnome extensions in the meantime that panel check gets removed?

[2021-04-28 16:35] Razer0123 commented on #18
Any news?

[2021-05-04 13:06] daitj commented on #18
I have uploaded the new version, it should be live within a day or two. I have removed the panel signals, you could check that out and let me know if your issue is actually resolved?

I suppose the workaround to have the settings and reload button will be handy but it would be nice to get the probelm fixed.

[2021-05-04 17:29] Razer0123 commented on #18
Will do, thanks for your effort

[2021-05-05 11:22] Ramalama2 opened #20 "[Fedora34 - Gnome 40] v11 works, v12 doesn't"
Hi, gnome crashes with v12.
While v11 works perfectly.

`Mai 05 13:00:36 fedora gnome-shell[46539]: JS ERROR: ReferenceError: Gtk is not defined
                                           addSettingsItem@/home/rama/.local/share/gnome-shell/extensions/display-brightness-ddcutil@themightydeity.github.com/extension.js:138:35
                                           reloadMenuWidgets@/home/rama/.loc

[2021-05-05 11:37] daitj commented on #20
@Ramalama2

Gtk is imported in extension.js in line 21, I actually added it in version 12. It is weird that it shows an error like that.

Could you edit line 139 of `home/rama/.local/share/gnome-shell/extensions/display-brightness-ddcutil@themightydeity.github.com/extension.js`

and replace `new Gtk.Button` with `new imports.gi.Gtk.Button`

Then restart your gnome shell, let me know what happens?

[2021-05-05 12:59] Ramalama2 commented on #20
[shell-log.txt](https://github.com/daitj/gnome-display-brightness-ddcutil/files/6427207/shell-log.txt)

It loooks way more complicated.
libgtk is crashing, probably it isn't even anything in your code, i try it now on x11 instead of wayland xD

[2021-05-05 13:01] Ramalama2 commented on #20
Yes, on Xorg it's working perfectly.
Both versions works und Xorg :-(
new Gtk.Button / new imports.gi.Gtk.Button

On wayland it crashes xD

[2021-05-05 13:42] daitj commented on #20
So old version works fine under wayland right?

May be you could revert the changes I did in line 21 in extension.js

`const {GLib, Gio, St, Gtk} = imports.gi;` to `const {GLib, Gio, St} = imports.gi;`

Basically removing the import of Gtk.

[2021-05-05 15:06] Ramalama2 commented on #20
Line 21: const {GLib, Gio, St} = imports.gi;
Line 139: new imports.gi.Gtk.Button
= Crash

Line 21: const {GLib, Gio, St} = imports.gi;
Line 139: new Gtk.Button
= Works, reload button is there, gnome doesnt crash.
But the extension is in the "initializing" mode forever and i don't get the Brightness slider of the display.
Like the menu and everything is here, just it doesn't recognize the display.

[2021-05-05 19:26] daitj commented on #20
You said that this works right?
[code]
but gets stuck in "Initializing", can you check the logs. I would like to see if extension is throwing any error.
Also, can you press the reload button during that phase ?

The other three functions that were removed were there to repopulate the displays in the menu when gnome's panel  position changes happen, which didn't seem to be necessary.

[2021-05-06 11:35] saknl commented on #20
I have the same issue on Fedora 34 too. When booting with the extension enabled, the gnome session crashes immediately after login and Gnome disables all extensions. Booting with the extension disabled and enable it after login does work.

[2021-05-06 11:56] daitj commented on #20
@saknl  are you also using Wayland and could you post shell log?

I will try to check this later today, I need to figure this out if it is some upstream bug or some problem in my extension.
I need to figure out why Gtk is not defined in wayland during first initialize of extension.

Could you both @saknl  and @Ramalama2 send me the full version of gnome-shell you are using?

[2021-05-06 13:37] saknl commented on #20
@daitj Yes I'm using Wayland. I'm not sure how to get my gnome-shell log. I did this one using `journalctl -b`.
[log.txt](https://github.com/daitj/gnome-display-brightness-ddcutil/files/6434931/log.txt)
I'm using gnome-shell 40.0.0

[2021-05-06 13:45] daitj commented on #20
@saknl  I think this should work `journalctl -b /usr/bin/gnome-shell`

[2021-05-06 20:37] saknl commented on #20
@daitj Thank you. There you go:
[log.txt](https://github.com/daitj/gnome-display-brightness-ddcutil/files/6437531/log.txt)

[2021-05-06 23:17] daitj commented on #20
@saknl I cannot see any useful error on that log.

@saknl  and @Ramalama2  I could reproduce the error in a virtual Fedora but I have no clue if this is Fedora issue or GNOME issue. I have a feeling that Gtk is not initialize in time for some reason, which is causing the problem. This also explains why you can enable the extension after logging in and it works. But anyway I will try to find right

[2021-05-07 09:17] saknl commented on #20
Thank you a lot! Editing extension.js didn't work, but with the new commit you just did everything works as expected.

[2021-05-07 10:22] Ramalama2 commented on #20
Thanks @daitj
v13 works perfectly.

Sorry i wasn online yesterday, real life :-(

Can we consider this fixed now or does someone still wants to test something?

[2021-05-07 11:20] daitj commented on #20
I was my bad, there was some remnant code when I copied some components from settings.

That Gtk button was never populated, so I still do not know why in wayland it was crashing. But anyway removing it fixed the issue.
I will follow up with the gnome-shell-extension project peeps, to understand more. This can be closed.

[2021-05-07 11:20] #20 closed

[2021-05-22 09:34] Razer0123 commented on #18
Reportin back, never happened until today, when it happened but it fixed itself without me having to press the reload button

[2021-06-02 23:00] #18 closed

[2021-06-02 23:01] Razer0123 opened #21 "Keyboard shortcut"
In my keyboard i have shortcuts to reduce and increase brightness

Any way to add support for this using your extension?

This might look stupid but might actually increase my life well being

[2021-06-10 04:18] ryanerwin opened #22 "Feature Idea or Document Suggested Workaround: Keyboard Control?"
Curious if you would be interested in adding some kind of keyboard shortcut to control the brightness... Not sure if that's even possible the way that Wayland is relatively restricted for keyboard access, but it was always cool on laptops to be able to control the entire screen brightness via some keyboard shortcuts.

[2021-06-10 08:43] daitj commented on #21
It would nice feature to have that, I haven't looked into that yet. Just in general to have keyboard shortcuts controlling the brightness.

I am bit busy at the moment. if someone else is willing to add it and make a pull request, I am more than happy.

[2021-06-10 08:44] daitj commented on #22
Duplicate of #21

[2021-06-10 08:44] #22 closed

[2021-06-27 06:35] kaushalyap opened #23 "Incompatible with Gnome 40"
![Screenshot from 2021-06-27 12-05-10](https://user-images.githubusercontent.com/24698778/123535400-3495a300-d741-11eb-95c9-135d26184ad1.png)

[2021-06-28 21:39] oscfdezdz opened #25 "Extension error"
I'm using Fedora Silverblue 34, if that's useful. I followed the steps on the README.md and here's the log:

The settings of extension display-brightness-ddcutil@themightydeity.github.com had an error:
[code]

Stack trace:
[code]

[2021-06-28 21:56] daitj commented on #25
How did you install the extension? Did you clone this repo instead of installing it from gnome extensions?

[2021-06-28 21:58] oscfdezdz commented on #25
Yes, because it shows as incompatible with GNOME 40.2.

[2021-06-28 22:03] daitj commented on #25
You need to compile the schemas as well,

[code]

[2021-06-28 22:08] #25 closed

[2021-07-07 17:46] janosbrodbeck opened #26 "No monitors shown / GNOME 40"
I've got two monitors attached, and the extension does not show any monitors for me. Dock panel shows only three items: `Initializing, Settings, Reload`.  This was and is not the case for my other laptop, still running Gnome 3.38. There, it still works totally fine.

My setup:
Extension Version: 13
OS: EndeavourOS
GNOME: 40.2.0
Windowing System: Wayland

My user has the right to change the monitor

[2021-07-22 10:42] daitj commented on #23
I have updated the metadata to support 40.1 and 40.2

[2021-07-22 10:42] #23 closed

[2021-07-22 10:43] daitj commented on #26
Could you try to reload the extension few times and share your gnome-shell log ?

[2021-07-22 19:12] janosbrodbeck commented on #26
[code]
Found monitors looks fine. One is invalid, that's my laptop screen. What I found out, as well: It worked with another monitor, I had never attached before yesterday. Still: These two monitors here, which are in the log, worked before.

[2021-08-02 22:35] daitj commented on #26
Feature D6 (Power mode) is used for checking DDC communication, it looks like log of this being successfull are missing from your logs.

Could you post output of:
[code]

and Feature 10 (Brightness)
[code]

[2021-08-07 16:19] VadymMatus opened #28 "Сhange brightness by scrolling over the icon on the panel"
It would be very convenient to have the ability to change the brightness of all displays by scrolling over the icon.

[2021-08-08 23:24] janosbrodbeck commented on #26
Sorry for the longer delay.
[code]
Same for feature 10.

Weird. Is there something like a configuration file which is created by ddcutil/similar about found devices?

[2021-08-09 08:35] daitj commented on #26
Could you try above commands again using sudo?

If it works using sudo then, I think you might have been missing the important step to add udev rules from docs [setup-ddcutil](https://github.com/daitj/gnome-display-brightness-ddcutil#setup-ddcutil)

and also could you check if this still works ?
[code]

[2021-08-09 08:36] daitj commented on #28
I suppose this will not take that much time, hopefully. I will look into this when I am free next time. I cannot give ETA though.

[2021-08-09 14:56] janosbrodbeck commented on #26
Same output for sudo (No monitor detected ...). My udev rules are set for the i2c group and my user is part of that group.
[code]

[2021-08-09 16:44] janosbrodbeck commented on #26
Permissions are not a problem. I set the udev rules for the i2c group and my user is in the i2c group. I saw with `ddcutil detect --brief` that the i2c busses changed/are different.
[code]

So once again the commands (changed the busses) without sudo:
[code]
Same output for sudo. But still...this extension does not show the monitors :(

[2021-08-13 09:59] janosbrodbeck commented on #26
Another weird effect happened: I was at another place with a completely new monitor, and an LG monitor was shown as "SyncMaster" in the extension. (SyncMaster is a monitor brand of Samsung. One like I own at home). It controlled the LG monitor...still, the LG was shown as a monitor I have at home.

It seems to me that scanned monitors are indeed somewhere stored, but this storage is totally messed

[2021-08-17 13:52] Razer0123 commented on #21
Seems like no help is coming, but i would be willing to contribute economically to have this feature

[2021-08-18 01:31] daitj commented on #21
Currently I am busy to look into this, because it is not just to add some fixed shortcut, but users should have possiblity to set the shortcut themselves.

I have added a label so that it will be highlighted for passerby, may be someone will be interested to grab the bounty you are willing to contribute.

[2021-08-18 09:38] Razer0123 commented on #21
Just wondering, would it be easy just to add support to media brightness shortcuts? (like the one present in laptops or in some keyboards, like raising volume media shortcuts)

[2021-08-30 19:23] oscfdezdz opened #29 "Hide indicator when no monitor is connected for a few minutes"
It could be hidden when one minute passes and no monitor has been connected. When one is connected it would show up again.
A switch would be ideal to change this behavior from the preferences.

EDIT: This can be thought the other way around, showing when a monitor is detected.

[2021-09-24 04:32] gauravahuja opened #30 "Add ability to change volume"
Some monitors have built in speakers and it would be good to control volume also.

[2021-10-07 23:23] mbacou commented on #26
Hello,
Same problem here. The extension works nicely (controlling the brightness on my external monitor `i2c-7`), only missing a display label.

![image](https://user-images.githubusercontent.com/260325/136475348-acd03f4b-0b17-4e82-b505-ccc95a6c5467.png)

![image](https://user-images.githubusercontent.com/260325/136475272-be232481-0fb5-4608-98cd-995e415b781f.png)

[2021-10-25 07:14] LordVicky opened #31 "Typo in instructions"
sudo cp /usr/share/ddcutil/data/45-ddcutils-i2c.rules /etc/udev/rules.d
`

Here 45-ddcutils shouldn't have  a 's' and gives error while executing,

hence:

`sudo cp /usr/share/ddcutil/data/45-ddcutil-i2c.rules /etc/udev/rules.d`

[2021-10-29 18:56] Razer0123 commented on #21
Or we could simply add an option to select a shortcut in the extension

[2021-11-05 01:18] cnrrobertson commented on #21
This is the solution I ultimately went with. But I noticed that the ddcutil setvcp already has plus minus built in (makes for a simpler shortcut):
[code]
It also gracefully handles out of range.

[2021-11-05 10:28] Razer0123 commented on #21
Tried and works, not sure why but the media button brightness down seem to work this way, but not brigthness up

[2021-11-05 18:25] steffen-stell opened #32 "Gnome 41 compatibility"
This extension is great, thank you! Unfortunately, as of now it is not compatible with Gnome 41, thus I have to live without it on the recently released Fedora 35. An update would be wonderful

[2021-11-07 21:25] saknl commented on #32
I edited the metadata.json and it works just fine on Gnome 41.1.

[2021-11-07 21:50] steffen-stell commented on #32
Thanks, I wasn't aware that it is that easy to do

[2021-11-08 09:02] daitj commented on #26
@janosbrodbeck Could you check if you have a file called `ddcutil_detect` inside your $XDG_CACHE_HOME (which usually is ~/.cache) directory? That is the only cached information this extension reads.

You could try to recreate it and check if it solves your problem. [readme](https://github.com/daitj/gnome-display-brightness-ddcutil#screen-hangslocks-on-first-startup)
May be you could even edit it a

[2021-11-08 09:07] daitj commented on #32
This is fixed now.

[2021-11-08 09:07] #32 closed

[2021-11-08 09:07] daitj commented on #31
Fixed now, thanks for pointing it out.

[2021-11-08 09:07] #31 closed

[2021-11-09 22:14] janosbrodbeck commented on #26
@daitj Oh my god it works! Deleting `ddcutil_detect` helped, and the extension is finally working again. I already gave up on getting it to work again. Thank you! :))

Since the other mentioned issue is really different to mine: Should we close this issue?

[2022-01-04 18:01] daitj commented on #28
This is added in new version.

[2022-01-04 18:01] #28 closed

[2022-01-04 18:01] daitj commented on #21
This is added in the new version of the extension, thanks to @oscfdezdz

[2022-01-04 18:01] #21 closed

[2022-01-05 17:04] oscfdezdz opened #41 "Slider in system menu is not removed when reloading the extension"
I noticed the change with the last commit 68f9a12462bb13da178af4509195d73f97c91c8e, adding `mainMenuButton.removeAllMenu()` before disabling the extension in `reloadExtension` function solves it, but looking at the changes in the code I do not see where the bug comes from, that is why I open this issue.

[2022-01-06 02:25] jacksongoode opened #43 "Sliders don't change ddc values"
It seems like the latest update broke functionality for me. The sliders move but the values do not change.

[2022-01-06 06:23] mutlucan96 opened #44 "ERROR: console is not defined"
I performed the steps on the tutorial and I can change brightness without root. Also [this extension](https://extensions.gnome.org/extension/4652/adjust-display-brightness/) works fine.
When I install from Gnome Extensions, I get an error. (console is not defined). I see the icon on the system menu but nothing else.
I also tried to install from source but it didn't go well, too.
![Screenshot from

[2022-01-06 08:46] vdemonchy commented on #44
+1 on this, same issue just appeared for me as well since the latest update has been installed

[2022-01-06 12:01] #44 closed

[2022-01-06 12:04] daitj commented on #41
This is something I am trying to figure out as well, I have check examples from some other extensions on how have they been approaching to this. Even though indicator and menu are destoryed the items are still visible. I will try to figure this out later today

[2022-01-06 12:06] daitj commented on #43
Could try the latest version from github and see what happens? I wonder if you have samme issue as #44. I will try to publish a new version after I fix some outstanding issue later today.

[2022-01-06 12:12] Razer0123 commented on #43
Confirmed not working anymore after latest update

[2022-01-06 12:18] daitj commented on #43
@Razer0123  have you tried the github version? could you share some gnome-shell log?

[2022-01-06 13:05] tobealive opened #46 "Suddenly stopped working"
Hey hello, I'm using this great tool every day last time yesterday evening. It suddenly stopped working now.

- No nothing happens on extension icon click
- It got automatically disabled in the extensions and shows an error icon that's not giving further information on the issue
- Reinstallation doesn't solve the issue
![Selection_003](https://user-images.githubusercontent.com/34311583/148387285-b

[2022-01-06 13:17] ekah321 commented on #46
![Screenshot from 2022-01-06 18-45-07](https://user-images.githubusercontent.com/81580123/148388467-5d891f2e-792d-4497-93e4-c90026193dee.png)
After update, stopped working. What is 'console is not defined'?

[2022-01-06 13:22] daitj commented on #46
Well apparently in some systems console is not available, which is used for logging things to the console.

Anyway new version is already being pushed, which should fix the problem, meanwhile you could install it manully from here.

[2022-01-06 13:25] daitj commented on #43
I just pushed a new version, it should be up once review is finalized.

[2022-01-06 13:26] #43 closed

[2022-01-06 13:27] #46 closed

[2022-01-06 17:44] tobealive commented on #46
Thank you!

[2022-01-06 20:16] tobealive opened #47 "_ is not a function"
This morning I had the `console is not defined` error.

The hope was to fix it when using the current repo. New status is that it's still not working with a new error.

Not its `Error: _ is not a function`

Do I have a possibility to use the repo from like 2 or 3 days ago? Then it should work again, I guess and I would be fine not beeing beelding edge.

[2022-01-06 20:26] daitj commented on #47
@tobealive  Which distro are you using and could you share your `journalctl /usr/bin/gnome-shell` ? I just got another similar report from a Pop_OS user.

[2022-01-06 20:29] tobealive commented on #47
Yes I'm also on Pop currently. I'll switched to another extension for now.
[code]

[2022-01-06 21:54] #41 closed

[2022-01-06 22:24] daitj commented on #47
Apparently somethings are inconsistent between distros which was why that particular translation function was not working. It is fixed in the new version and should be published soon.

[2022-01-06 22:24] #47 closed

[2022-01-07 11:01] tobealive commented on #47
Nice! Thanks for your efforts!

[2022-01-07 11:51] dr1s opened #48 "system freeze on reload"
The issue seems to be that every reload is clicked a new `ddcutil` process is spawned.
So if you hit reload multiple times in a short period of time, the system basically freezes up.

I don't intend to do this again, but maybe its possible to limit the amount of processes spawned?

[2022-01-07 12:12] daitj commented on #48
In my hardware `ddcutil detect --brief` freezes up the whole system, but only for the first time. Can you check if your system also freezes when that happens and also could you check if it happens everytime?

Last time I tried to debug this, after booting (when extension was disabled) I ran this command one by one for all the bus `ddcutil capabilities --bus ${bus_numer}` , I found out that bus num

[2022-01-07 14:40] dr1s commented on #48
The problem also happens with the cache workaround, but i never noticed anything on first startup.

I just tried it again and if i just click 3 times on the reload button in the settings i see up to 93 ddcutil processes waiting.

[2022-01-07 23:42] daitj commented on #48
Are you using the latest version of the extension, 93 proceses seems awfully lot.

Each reload should trigger 1 + number of monitors you have requests. This is what is happening for me when I am testing at least.

Could you share these information, may be I could try to run similar environment in libvirt and check it out.
**Journal logs**
[code]

**Desktop :**
 - OS: [e.g. Debian]
 - Version [e.g.

[2022-01-16 20:54] pimvanderheijden commented on #9
Installed from extensions.gnome.org but stuck on "Initializing", what can I do?
I'm on Ubuntu 20.04.3

[2022-01-16 20:59] daitj commented on #9
@pimvanderheijden

Have you checked the readme of this project?

You need to make sure that you can run and detect monitors with `ddcutil detect` shell command (without sudo or root).

On January 16, 2022 10:54:23 PM GMT+02:00, Pim van der Heijden ***@***.***> wrote:

[2022-01-16 22:15] pimvanderheijden commented on #9
The name of the section **Automatically from GNOME extensions** suggests no additional setup is needed. Moreover, I don't have the ddcutil command available after installing. Does this mean I should install from source?

[2022-01-16 23:39] daitj commented on #9
You need to install it from your package manager,

  `sudo apt install ddcutil`

then follow the rest of the steps from here:
https://github.com/daitj/gnome-display-brightness-ddcutil#setup-ddcutil

[2022-01-17 12:01] oscfdezdz commented on #30
ddcutil vcpinfo output:
[code]

The implementation could be very similar to the one that already exists for modifying brightness.

[2022-01-17 15:56] pimvanderheijden commented on #9
Great, that works fabulously. Thanks!

[2022-01-17 20:00] daitj commented on #30
@oscfdezdz

Yes functionality wise you basically need to change the icons and
setvcp code 62 instead of 10, but adding this to settings and creating
proper UI so they look nice is where most of the time will go. 

[2022-01-21 16:18] jacksongoode opened #50 "[Suggestion] Drop down brightness control"
I was imagining that one UI option that would conserve space and fit nicely with another similar plugin would be to hide the sliders within the brightness slider, much like [Sound Input & Output Device Chooser](https://github.com/kgshank/gse-sound-output-device-chooser).

![image](https://user-images.githubusercontent.com/54308792/150561960-0c73c347-7eee-437c-b66a-7ee3bc4ea22c.png)

[2022-01-21 17:40] daitj commented on #50
I cannot think of how this would benefit, or may be I do not understand your suggestion?

For a single monitor there is only one slider, so that just takes least amount of space already.

For multiple monitors you usually want to change multiple brightness at the same time, unlike for sound output which is just one. Multiple monitor could be under a sub menu when "all slider" is visible.

Another

[2022-01-27 11:43] will-lol commented on #48
I am also having this issue. Only on the latest extension version though.

[2022-01-31 19:30] nfnvsc commented on #50
@daitj An option for **just** the 'all slider' would be a good addition. Most of the times I only use the All slider (with multiple monitors).

[2022-02-04 11:01] ttytm opened #52 "Option to also enable contrast control?"
Hello friend,

Is there a chance to extend the functionality by adding the option to also display DDC contrast control?

I could try to add it when some time opens up and make a pull request if you like.

[2022-02-06 22:12] daitj commented on #52
It is same as #30, the vcp code for contrast is `12` check [this](https://github.com/daitj/gnome-display-brightness-ddcutil/issues/30#issuecomment-1014850043) comment.

Just need to find a way to integrate brightness, volume, contrast and may be other features as well, in the UI.

another workaround is that, if it just for you, you could just fork this project and change the uuid, icon and where e

[2022-02-06 22:38] daitj commented on #50
New version has this feature now. You can use only "All" slider while hiding other displays.

[2022-02-06 22:38] #50 closed

[2022-02-09 21:54] htfy96 opened #53 "ddcutil returns -EBUSY error"
**Describe the bug**
The interface got stuck at "Initializing state"

**To Reproduce**
Steps to reproduce the behavior: Just load the extension

**Journal logs**
[code]
**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: ArchLinux
 - Version: Rolling
 - GNOME version: `extra/gnome-shell 1:41.3-1`
 - Extension

[2022-02-10 16:35] daitj commented on #53
You could check first by running:

ddcutil --brief detect --force-slave-address

and then use the bus from output and check if these command works or not

ddcutil getvcp 10  --bus $your_monitor_bus

ddcutil setvcp 10 100 --bus $your_monitor_bus

in your shell and see what happens?

On February 9, 2022 11:55:06 PM GMT+02:00, Zheng Luo ***@***.***> wrote:

[2022-02-27 08:51] fhehli opened #55 "Add step size setting for keyboard shortcuts"
Hi,

Is there a chance to add a setting where users can define the step size of brightness increase or decrease when using keyboard shortcuts?

[2022-02-27 11:50] #48 closed

[2022-02-27 11:53] daitj commented on #55
I have added this feature, it should be available as soon as it is reviewed.

[2022-02-27 11:53] #55 closed

[2022-02-27 22:06] daitj commented on #29
@oscfdezdz do you still want this to be implemented?

Because we can already hide indicator in system menu?

[2022-02-27 22:08] cenktaskin commented on #29
I'm not the issuer, but it would be nice to have!

[2022-02-27 22:53] oscfdezdz commented on #29
Well, this issue was opened before button location preference was implemented. Now, I use system menu option without indicator and sliders do not show when there are no connected monitors.

I guess it would be useful for those having the indicator when using system menu option or top bar one.

[2022-03-04 16:08] dr1s opened #56 "Disable display state check not triggerable"
**Describe the bug**
The setting `Advanced Settings -> Disable display state check` disables itself and generally doesn't work.
If I enable the option and reload while the settings are open my second monitor (the one i opened a PR for a while ago) doesn't get recognized.

**To Reproduce**
Steps to reproduce the behavior:
* Open Settings
* Enable `Disable display state check`
* Close settings / ref

[2022-03-05 21:02] daitj commented on #56
Thanks, it was indeed a bug, I have released a fix for this.

[2022-03-05 21:02] #56 closed

[2022-03-07 09:27] sojusnik opened #57 "Show OSD indicator, when changing brightness via keyboard or scrolling over icon in panel"
It would help, if an OSD indicator would appear, when changing the brightness via keyboard or scrolling over the [icon in the panel](https://github.com/daitj/gnome-display-brightness-ddcutil/issues/28), analogues to the default volume OSD in Gnome, as shown here:

![grafik](https://user-images.githubusercontent.com/1245718/157003972-05e27ab3-9404-47c4-905c-0f57290f86fd.png)

[2022-03-07 09:33] sojusnik opened #58 "Add option to remove the default Gnome brightness slider from the system menu"
Would be great, if you could add an option to remove the default Gnome brightness slider from the system menu (the one that is opened via the Gnome panel), because with this extension it has no use any more and therefore clutters the interface.

[2022-03-07 22:35] oscfdezdz commented on #57
I have this working locally, I'll submit a PR soon.

[2022-03-08 17:07] BerkayTutal opened #59 "Working version for Gnome 3.36?"
![image](https://user-images.githubusercontent.com/5060585/157288404-f62a7fb6-22ed-406a-a761-88262a190ce0.png)

I could not find any settings page from the installation. I've checked gnome-tweaks. I couldn't find any information on documentation too.

Package installed from https://extensions.gnome.org/extension/2645/brightness-control-using-ddcutil/

Then I've tried to install manually but on "ma

[2022-03-08 20:40] oscfdezdz commented on #59
The error given by `make` is because `dist` directory is missing inside extension folder.

[2022-03-08 23:33] #57 closed

[2022-03-08 23:41] daitj commented on #59
I am closing this for now, if you have some issues please do reopen it.

[2022-03-08 23:43] daitj commented on #58
I need to see how this can be done, cannot give ETA on this but I will leave it open for now and see if someone else wants to do this.

[2022-03-09 06:58] BerkayTutal commented on #59
I'm on the latest version 20.04 Ubuntu desktop.

I've installed it manually after creating "dist" folder and it worked after logging out and logging in but when I click settings button on the extension or the same settings button on "Extensions" page it gives me this error and I am not able to see settings:

![image](https://user-images.githubusercontent.com/5060585/157388288-69dbb91e-1034-4fa1-88

[2022-03-09 11:41] daitj commented on #59
@BerkayTutal The last version of this extension to support gnome 3.36 was version 7, there were not that many features and also it had some bugs.  Actually you couldn't do much via settings either, just add one extra "All" slider.

I have to suggest you to upgrade Ubuntu to 21.10 (which has gnome 40) or if you want LTS, then wait for a month when they release 22.04.

[2022-03-09 13:03] BerkayTutal commented on #59
I'll probably wait for a month more to have the LTS version, thank you!

Could you help me to understand this in detail, why can't we release a version to work with 3.36 too? Are there a lot of differences between the two as libraries or how they work?

[2022-03-10 02:32] dr1s commented on #56
Great, the slider works now. The option itself doesn't work for me, my monitor isn't gettin recognized, but I will open a new Issue for this when I have time.

Thanks for all your work!

[2022-03-13 23:55] daitj commented on #59
@BerkayTutal

It is because how GNOME (gnome-shell) update usually brings new features and also the way extensions should be written.

There were some small changes from 3.36 to 3.38 but 3.38 to 40 brought lots of changes. I had to change the way extension's preference worked, for example.

People with a stable distro like Debian stable, or Ubuntu LTS  are usually stuck with older version of the e

[2022-03-13 23:55] #59 closed

[2022-03-16 03:28] kirb opened #63 "Menu stuck at “Initializing…” with LG UltraFine monitor"
**Describe the bug**
My LG UltraFine 4K doesn’t seem to respond to VCP command D6, which breaks the extension.

**To Reproduce**
Steps to reproduce the behavior:

1. Connect LG UltraFine 4K/5K monitor
2. Attempt to use the extension

**Journal logs**
[code]

**Desktop (please complete the following information):**
 - OS: [e.g. Debian] Ubuntu
 - Version [e.g. 11] 22.04 jammy devel
 - GNOME version

[2022-03-24 15:41] daitj commented on #63
Thanks for the report, I will fix it using your code and some other things, in next version.

[2022-03-25 18:37] PawSaj commented on #63
I also face this issue - Menu stuck at "initializing..."
I'm using DELL U2715H

[2022-03-29 17:08] BierDav opened #66 "Is there a way to use the brightness controls on the keyboard?"
I know that there is the shorcut section, but is it possible to assign them to the brightness control buttons on your keyboard? If there is, how? Otherwise: It would be very handy :)

[2022-04-01 03:19] kirb commented on #63
New release is working perfectly for me - and thanks for bumping support to add GNOME 42 as well 🙂

[2022-04-09 13:57] eumpf0 commented on #66
I was trying to do the same thing, figured it out and it's working flawlessly for me.

I looked around in the dconf/gsettings database using dconf-editor and found the following keys:

`screen-brightness-down-static`, `screen-brightness-down`   (for _decreasing_ brightness)
`screen-brightness-up-static`, `screen-brightness-up`   (for _incresing_ the brightness)

under `org.gnome.settings-daemon.pl

[2022-04-10 10:04] daitj commented on #66
There was a typo in @eumpf0 reply, you had a . instead of space, I have edit and fixed that.

[code]
If you are using X11, it will have output like this:
[code]

For more XF86 keyboard symbols : [XF86keysym.h](https://github.com/freedesktop/xorg-x11proto/blob/master/XF86keysym.h)

[2022-04-10 10:05] #66 closed

[2022-04-13 10:20] cenktaskin opened #67 "Stuck at "Initializing""
Solved by installing updated version of ddcutil, apparently there was a fix on dock connected windows. Which in previous versions were failing every second time when probed via ddcutil getvcp. Sorry for the inconvenience, please delete the issue

[2022-04-13 10:31] #67 closed

[2022-04-14 14:22] oscfdezdz opened #68 "Extension does not seem to work with ddcutil 1.2.1"
**Describe the bug**
The extension does not finish initializing.

**To Reproduce**
Steps to reproduce the behavior:
- Install the extension.

**Journal logs**
[code]

**Desktop:**
 - OS: OpenSUSE MicroOS
 - Version: latest snapshot
 - GNOME version: 42
 - Extension version: [libadwaita branch](https://github.com/daitj/gnome-display-brightness-ddcutil/tree/libadwaita)

**Additional context**
[code]

[2022-04-20 12:08] oscfdezdz commented on #68
It doesn't seem like a version related issue, it works in Tumbleweed.

[2022-04-20 12:08] #68 closed

[2022-04-20 12:19] SebastianGrans opened #69 "Better keyboard shortcut editor in the preferences, which captures and sets pressed keys."
Currently, the default keyboard bindings are `<Ctrl><Alt><Shift>h` and `<Ctrl><Alt><Shift>g`, but in my opinion it makes more sense to have them default to `XF86MonBrightnessUp` and `XF86MonBrightnessDown`. This way it will directly work with keyboards which have brightness keys (in my case a Keychron C1).

Not everyone knows about these XF86 keyboard symbols, so it would be logical to make it eas

[2022-04-21 08:31] daitj commented on #69
If we use `XF86MonBrightness*` default keybindings will conflict with gnome's own keybinding, for laptops this might be an issue. So may be something like `Ctrl + XF86MonBrightness*` would make sense, then about grabber for keyboard shortcut, I need to do some research on this, I do not want to reinvent the wheel, if there are some ways to call the same components from gnome control panel, it woul

[2022-04-21 11:24] SebastianGrans commented on #69
I didn't consider laptop users. Then using `Ctrl` as a modifier makes more sense.

If I have some spare time, I'll try implementing the keyboard shortcut grabber in GJS.

[2022-04-22 22:10] daitj commented on #69
@SebastianGrans

GTK4 ui for shortcut editor can be found in gnome-control-center source here: [cc-keyboard-shortcut-editor.ui](https://github.com/GNOME/gnome-control-center/blob/master/panels/keyboard/cc-keyboard-shortcut-editor.ui)

It should be fine to copy that (as GNOME uses GNU GPL) and then add some extra gjs stuff for our use case.

[2022-04-30 08:31] BierDav commented on #69
I would really like to see that. But how to achive that as of now?
![image](https://user-images.githubusercontent.com/46626041/166098251-b8ab1acd-e2ec-4689-891f-13085fbf1b10.png)

`XF86MonBrightness`, `XF86MonBrightness*`, `XF86_MonBrightness` and `XF86MonBrightness*` don't work.

[2022-04-30 09:28] daitj commented on #69
@BierDav could you check if you brightness key is working, `sudo showkey` or `xev` (for X11) will help you with that.

For gui option you could also go to Settings > Keyboard > View and customize shortcuts  > try to add shortcut and see if brightness key gets detected.

[2022-04-30 11:57] BierDav commented on #69
Oh you are right. I haven't divorced my Brightness Key in solaar. Thanks ;)

[2022-05-05 21:31] Hvalfisk opened #71 "Configure udev to set i2c group as owner of i2c devices"
I was unable to set display brightness without sudo when using ddcutil, and the extension didn't work either.

In the notes at https://wiki.archlinux.org/title/backlight#External_monitors I found

And in that link it says to do

    # echo 'KERNEL=="i2c-[0-9]*", GROUP="i2c"' >> /etc/udev/rules.d/10-local_i2c_group.rules

Now the extension works and I can set brightness using ddcutil without sudo.

[2022-05-06 15:42] oscfdezdz commented on #69
Sorry for the wait, my intention when adding the keyboard shortcuts was to do it the proposed way, following GNOME's Control Center layout, but I ended up discarding it because it didn't work at the time. I will try to take a look at it and see what I can do.

[2022-05-29 12:21] MightyPrince1 opened #73 "[suggestion] option for "overamplification""
At least on my display, the brightest that it can go is a value of 255 and not 100. I like the idea of using this extension, but I usually have it set to 255. Adding an option for the limit to be at 255 (and add in brackets something like experimental if you want to would make this extension a whole lot better in my eyes)

Love the work that you are doing btw

[2022-05-29 12:42] daitj commented on #73
I also have a display with 255, the sliders you see are in percentage and is automatically translated into 0-255 value.  Only reason this won't work is if ddcutil is not reporting the value correctly.

You can check it using:

ddcutil getvcp D6 --bus <display_bus_id>

On May 29, 2022 3:21:15 PM GMT+03:00, MightyPrince1 ***@***.***> wrote:

[2022-05-29 12:45] MightyPrince1 commented on #73
for me `ddcutil getvcp D6 --bus 10` yields `Bus /dev/i2c-10 not found`

[2022-05-29 12:52] daitj commented on #73
You can get list of available buses using:

ddcutil detect

On May 29, 2022 3:45:53 PM GMT+03:00, MightyPrince1 ***@***.***> wrote:

[2022-05-29 12:54] MightyPrince1 commented on #73
now it reported` VCP code 0xd6 (Power mode                    ): DPM: On,  DPMS: Off (sl=0x01)`

[2022-05-29 13:08] daitj commented on #73
Sorry my bad, vcp code should 10 instead D6, you need to check with:

ddcutil getvcp 10 --bus your_bus

On May 29, 2022 3:54:18 PM GMT+03:00, MightyPrince1 ***@***.***> wrote:

[2022-05-29 13:30] MightyPrince1 commented on #73
it reports 100, but I know that the maximum is 255
`VCP code 0x10 (Brightness                    ): current value =   255, max value =   100`

could you add an option to ignore `ddcutil getvcp 10 --bus 4`

[2022-05-29 16:05] daitj commented on #73
Could you put your monitor model here, if someone else also runs into same issue, it would be good to have it.

Have you checked in ddcutil's repo, if they have some workaround for this sort of use cases. Ideally it would be better to have the fix there.

On May 29, 2022 4:30:14 PM GMT+03:00, MightyPrince1 ***@***.***> wrote:

[2022-05-31 08:38] MightyPrince1 commented on #73
Samsung Odyssey G5 LC27G55TQWEXXT 27" VA CURVED 2K 144Hz

[2022-05-31 20:29] daitj commented on #73
As I can see it [here](https://github.com/rockowitz/ddcutil/issues/200#issuecomment-816279026), there is nothing ddcutil folks can do about this, it is a bad implementation of DDC/CI from Samsung, since your monitor is not reporting stuff correctly, it is a very unique issue.

## Solution 1
I suggest you to create a wrapper script for ddcutil in your `$HOME/.local/bin/ddcutil` then add that to you

[2022-05-31 20:29] #73 closed

[2022-05-31 20:32] daitj commented on #71
That is already in the step 4 in setup section of [README.md](https://github.com/daitj/gnome-display-brightness-ddcutil#setup-ddcutil) of this extension.

[2022-05-31 20:32] #71 closed

[2022-05-31 20:34] daitj commented on #53
If you have your reply you can reopen this.

[2022-05-31 20:34] #53 closed

[2022-06-01 16:47] Igetin opened #74 "[Feature request] Add a setting for sleep multiplier"
By default, ddcutil has a noticable lag when setting the brightness even when using `--bus`, which is the fastest display selection option. The [Performance and Tuning Options](https://www.ddcutil.com/performance_options/) section of the documentation describes the `--sleep-multiplier` option, which can be used to tune the default sleep period. The docs mention that “typically ddcutil spends appro

[2022-06-05 16:07] n3thshan opened #75 "Settings for icon's position on system indicator region"
This setting just doesn't work. The brightness icon in the system menu is always is in the last position no matter which position value i choose in the extension settings.

[2022-06-26 20:11] 2nv2u opened #76 "Add on/off switch next to the slider on non primary monitors"
It would be nice to have an option in the settings to add switches next to the slider on the non primary monitors to turn them on/off.

[2022-06-26 20:14] 2nv2u opened #77 "Put the monitor sliders in a submenu in the system menu"
If all sliders is enabled and it's has been added to the system menu, please make the all sliders a submenu to show all the monitors and put the all one on the submenu item (no text), it would make it look like the regular slider with an arrow next to it.

Created a small concept:
![brightness-concept](https://user-images.githubusercontent.com/69992184/175833044-725d08f1-eca0-4d6d-ae33-e14baed0e3a

[2022-07-11 10:23] Tamas-Toth-ebola opened #78 "Please put 'brightness' icon on the GNOME panel next to (prior to) the 'volume' icon as these functions are in the 'same category'"
**Describe the bug**

Currently with the usage of the extension, brightness icon is the last one on the GNOM panel instead of the power icon, what could be the most logical. Illustration bellow.

Please if possible put the icon next to the volume icon _(in theory **the most perfect position would be prior to volume icon** as our screen is more important peripherial that the sound output)_, to be l

[2022-07-13 21:56] daitj commented on #77
I will try to check this, if there is a simple way to do it like to reuse current items and just make a submenu out of it, but I cannot give any ETA on this.

[2022-07-13 21:57] daitj commented on #76
This is bit out of scope of the brightness control, as you could do this with simple shorcuts for monitor configuration. But I will leave this open if someone wants to pick this up and contribute to this project.

[2022-07-13 21:58] daitj commented on #78
Duplicate of #75

[2022-07-13 21:58] #78 closed

[2022-07-13 22:00] daitj commented on #75
@n3thshan The position settings for icon is actually missing, the current settings is just for the whole menu, I will look into this at some point and add it.

[2022-07-14 18:07] Tamas-Toth-ebola commented on #78
I think it is not a duplication as the other 'bug' report is a simple misunderstanding of an already available function, what I also saw before my report.

But independently the exact state or the interpretation of it I can understand that for both reports would be the most perfect solution is a settings option for it.

Thanks for your time for checking it!

[2022-08-06 14:57] KaiserCalm opened #79 "[Feature Request] Disabling Control for Specific Monitors"
![image](https://user-images.githubusercontent.com/81613945/183254345-6accf3be-bc6d-4e92-9d38-af5b69b3a382.png)

I have a monitor that I want to always stay at 100%, so a nice feature would be to hide/disable controls for a specific monitor.

[2022-08-24 08:15] artogahr opened #81 "No monitors detected even though I can change brightness via ddcutil itself."
Basically what the title says:
![image](https://user-images.githubusercontent.com/22445057/186368448-b0f0bdd1-cd95-4dd2-b02a-8d2619d56eb8.png)

I have two monitors on bus /dev/i2c-15 and 16. I can change their brightness using ddcutil itself, with normal user permissions, no problem:
[code]

I'm guessing the errors might be throwing off the parser based on other issues I read of this repo, but I d

[2022-08-24 08:18] artogahr commented on #81
Just realized I opened the issue on the wrong extension github, sorry

[2022-08-24 08:22] artogahr commented on #81
This problem also happens with this extension btw, so I'm editing and opening this one in hopes that someone here might be able to help me as well 😅

[2022-08-24 08:57] daitj commented on #79
Seems like you have only two monitor so may be you should use cache file which will only show only one monitor.

[code]
Note: if `$XDG_CACHE_HOME` is emtpy then it is  most probably `~/.cache`.

Edit that file and remove the monitor you do not need.

You need to explain a bit more why you need this setup though, if this doesn't help you.

[2022-08-24 08:57] #79 closed

[2022-08-24 09:05] #69 closed

[2022-08-28 13:53] steffen-stell commented on #81
I encountered the same problem on two Fedora 35 systems. It's been going on for a couple of weeks and may have come with the update to ddcutil 1.3.0. I downgraded to version 0.9.9, which resolved the it

[2022-08-28 14:03] daitj commented on #81
Could you both provide your gnome-shell logs?

**Journal logs**
[code]

[2022-08-28 16:01] steffen-stell commented on #81
Having already downgraded, I'm afraid my log is not helpful here, but I'll try to post the log from my other device tomorrow.
The underlying problem in `ddcutil` seems to have been [reported and fixed](https://github.com/rockowitz/ddcutil/issues/273) in the 1.4.0-dev branch.

[2022-08-29 07:44] artogahr commented on #81
<details>
<summary>I still haven't downgraded, so here you go</summary>

[code]
</details>

[2022-08-29 07:58] artogahr commented on #81
I can confirm switching to ddcutil-git from AUR fixed the issue, but weirdly enough it's only detecting one of my monitors right now. For context, both monitors are the same model and are connected to the dock using same type of DP cables.

<details>
<summary>Here are the logs for that</summary>

[code]
</details>

Both monitors have the 0x10 capability, and in fact their capabilities are the same

[2022-08-29 08:16] daitj commented on #81
The main issue like you both figured out is upstream bug, but for the second issue you have @artogahr, disable display state check from the settings, this is a known issue in some monitors.

On August 29, 2022 10:58:10 AM GMT+03:00, Artoghrul Gahramanli ***@***.***> wrote:

[2022-08-29 08:19] artogahr commented on #81
Thanks for the response, unfortunately that didn't fix the issue
[code]

[2022-08-29 08:24] daitj commented on #81
Try these commands and see what happens.

For state (skipable by settings)
[code]

For brightness info (needed to read monitor's current brightness, possible max and min brightness value)
[code]
 For setting brightness
[code]

[2022-08-29 08:27] artogahr commented on #81
Adjusting brightness through cli still works, no problem

[code]

Any other logs you think I might check? I can also try downgrading to ddcutil 0.99 or build the latest ddcutil from source, instead of using the aur version

[2022-08-29 08:33] daitj commented on #81
From the previous log I cannot see anything suspicious.

What exactly doesn't work at the moment?

Do you have both display in the menu?
Brightness slider(s) not doing anything?

[2022-08-29 08:35] daitj commented on #81
Also do you have something in  $XDG_CACHE_HOME/ddcutil_detect?

[2022-08-29 08:36] artogahr commented on #81
I have only one display in the menu, specifically bus 16. For the bus 15 there's this log:

[code]
However:
[code]

[2022-08-29 08:38] artogahr commented on #81
I used to, but I deleted it for testing, didn't fix it

[2022-08-29 08:49] daitj commented on #81
Well according to the extension, this command is returning "No monitor detected" or "DDC communication failed"

[code]

Could you check this again, also remember to not use sudo or root shell, these commands should work with current user without root access.

[2022-08-29 08:51] daitj commented on #81
Just a note, this extension explicitly uses `/usr/bin/ddcutil` in case you have multiple version installed in different places.

[2022-08-29 08:53] artogahr commented on #81
This is done through normal shell with correct ddcutil permission stuff applied, with normal user:

[code]

[2022-08-29 09:01] daitj commented on #81
Need latest gnome logs one more time?

Also which version of the extension are you using, you can see this in extension manager.

May be the age old method of restarting everything will fix the issue

[2022-08-29 09:10] artogahr commented on #81
<details>
<summary> Logs </summary>

[code]
</details>

Extenstion version is 31, installed from extension.gnome.org

Tried restarting multiple times with no avail I'm afraid :/

[2022-08-29 09:12] artogahr commented on #81
@steffen-stell can I ask how you downgraded? I built the 1.0.0 tarball from source and that one didn't work for me at all. Also are you using multiple monitors or just a single one?

[2022-08-29 09:25] daitj commented on #81
@artogahr

I suggest you to install the current version manually, [README](https://github.com/daitj/gnome-display-brightness-ddcutil#manually-from-the-source-code)

Then in your system, you will find the installed extension.js here: `~/.local/share/gnome-shell/extensions/display-brightness-ddcuti@themightydeity.github.com/extension.js` which should be edited.

Hopefully you are able to do this, tr

[2022-08-29 09:33] artogahr commented on #81
That did in fact fix the issue!

For reference:
[code]

  Both monitors are shown and are adjustable:

![image](https://user-images.githubusercontent.com/22445057/187171161-e7c48595-1595-40f1-97ab-3a93f98a1baa.png)

[2022-08-29 09:37] artogahr commented on #81
One nitpick: The "All monitors" slider only seems to be affecting the second monitor (bus 16). The UI show the change in bus 15 as well but the acutal brightness only changes at 16. Manually changing both works, so I disabled the all monitors slider for now, just wanted to let you know.

[2022-08-29 09:40] artogahr commented on #81
Update on that: Sometime it works for both monitors, sometimes it doesn't, it's weird, but discussion for another issue I guess, so disregard

[2022-08-29 09:49] daitj commented on #81
@artogahr May be there is some disturbance in DDC communication with your monitor on bus 15.

Three reasons:
- ddcutil, you could try to debug it by calling ddcutil to set different brightness in bus 15 from async shell script `ddcutil setvcp 10 30 > file.log & ` in a for loop and log everything, i am thinking about simultaneous calls, of course they could be failing because of the reasons below o

[2022-08-29 10:59] artogahr commented on #81
I'll test, shall we close this issue?

[2022-08-30 07:03] #81 closed

[2022-08-30 07:07] daitj commented on #81
It seems like you have same model monitors, I would check by swapping the cables and also swapping the port they are connected to as well.
If you get some errors in ddcutil, you should follow up with ddcutil's developer to get it sorted.

[2022-09-04 07:32] oscfdezdz opened #84 "GNOME 43 Support"
Preferences window works but some changes to make it work with the new [Quick Settings](https://gjs.guide/extensions/upgrading/gnome-shell-43.html) will be required.

[2022-09-08 21:15] daitj commented on #84
I will work on this once 43 comes to Debian Unstable (sid), this should be easier than before but of course need a bit of rewrite.

[2022-09-28 22:27] daitj commented on #84
I have added a dirty fix for GNOME 43, the QuickSliders are not really useful for us, as they do not provide any text labels.

As of now the poistion in the system menu does not work, which I need to check later on. But for now we have a working version.

[2022-10-27 19:58] sojusnik commented on #58
As a workaround, [this](https://extensions.gnome.org/extension/5443/quick-settings-button-remover/) extension can be used, where you can hide the default brightness slider.

[2022-11-01 19:38] crimist commented on #84
Not familiar with GNOMEs internals but would it be possible to have all monitors slider like the speaker slider and then the dropdown reveals individual monitors?

![image](https://user-images.githubusercontent.com/20033376/199323002-81a2e217-4a01-4e84-8775-e86df08ec121.png)

[2022-11-04 20:20] spyfly opened #86 "No monitor detected on bus when using an MST Hub"
**Describe the bug**
One of the monitors on the MST-Hub does not get detected, due to a bus being unable to process the same command in parallel.

The solution would be to not read the bus simultaneously, but after each other.

**To Reproduce**
Steps to reproduce the behavior:
Connect two Monitors behind a MST-Hub

**Journal logs**
[code]
**Screenshots**
If applicable, add screenshots to help expl

[2022-11-05 01:06] spyfly commented on #86
Seems to be resolved in Version 33

[2022-11-05 10:33] spyfly commented on #86
Still seems to be an issue, even in Version 33

[2022-11-17 10:33] ailin-nemui opened #87 "Race condition leading to no monitor when querying multiple monitors"
**Describe the bug**
I have 2 monitors connected, but only 1 of them shows up in the menu. Even though both are in `ddcutil detect`

**To Reproduce**
Steps to reproduce the behavior:

open the menu -> only 1 monitor is visible

**Journal logs**
[code]
**Screenshots**
![image](https://user-images.githubusercontent.com/5665186/202422604-141625a2-4f21-47f4-bd5e-1d24a56e3798.png)

**Desktop (please co

[2022-11-18 18:21] spyfly commented on #87
@ailin-nemui seems to be a duplicate of #86.

I had the same symptoms as you, when running ddcutil manually in parallel and after each other.

[2022-11-26 20:48] sojusnik opened #88 "Brightness steps 0-5 don't work"
**Describe the bug**
When decreasing the brightness to steps below 5, then the brightness doesn't continue to decrease, although it works with [this](https://extensions.gnome.org/extension/4652/adjust-display-brightness/) extension. In other words, when your extension sets the brightness level to 6, my monitor also shows 6 as the brightness level, but when your extension sets it to 5, then my moni

[2022-11-27 11:34] sojusnik opened #89 "Extension stops working after some time"
**Describe the bug**
After some time, for no apparent reason, your extension stops to work, i.e. the brightness slider isn't shown in the system menu anymore, as the keyboard shortcuts stop to work.

What's the best way to debug this?

**Desktop (please complete the following information):**
 - OS: Ubuntu
 - Version: 22.10
 - GNOME version: 43
 - Extension version: 32